<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%= @recipe.name %>" placeholder="Update your recipe's name here:">
  <br>
  <input type="text" name="content" value="<%= @recipe.ingredients %>" placeholder="Update your ingredients here:"></input>
  <br>
  <input type="submit" id="submit" value="Submit">
</form>